<head>
    <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
</head>
<body>
    <div class="container1">
        <div class="header1">Notification de congé</div>
        <div class="content1">
            <p>Bonjour {{ conge.user.username }},</p>
            <p>Votre demande de congé a été {{ conge.statut }}.</p>
            <ul>
                <li>Date de début : {{ conge.startDate|date('d-m-Y') }}</li>
                <li>Date de fin : {{ conge.endDate|date('d-m-Y') }}</li>
                <li>Type de congé : {{ conge.type.label }}</li>
            </ul>
            {% if conge.statut == 'Accepté' %}
                <p>Merci de configurer votre réponse automatique indiquant votre indisponibilité pendant vos vacances.</p>
            {% endif %}
        </div>
        <div class="footer1">
            <p>Merci,</p>
            <p>L'équipe de gestion des congés Adéo</p>
        </div>
    </div>
</body>
